<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(MainLayout)">
      <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
  </NotFound>
</Router>

 <div id="blazor-error-ui" style="display: none;">
  Oops! Something went wrong. Click
  <a href="" class="reload">Here</a>
  to reload the page.
  <a class="dismiss">🗙</a>
</div>