@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="div-center">
  <div class="title-logo-row">WORDLEOFF</div>
  <div style="height: 20px;"></div>

  <button class="button" @onclick="CreateNewGame" disabled="@(!IsConnected)">Create a new game</button>
  <div style="height: 20px;"></div>
  <div>
    OR type in the code your friends/family gave you
  </div>
  <div style="height: 5px;"></div>
  <div>
    <input class="session-id-part" @bind="sessionIdPart1" disabled="@(!IsConnected)" maxlength="3" tabindex="0" />
    <input class="session-id-part" @bind="sessionIdPart2" disabled="@(!IsConnected)" maxlength="3" tabindex="1" />
    <input class="session-id-part" @bind="sessionIdPart3" disabled="@(!IsConnected)" maxlength="3" tabindex="2" />
    <button class="button" @onclick="JoinSession" disabled="@(!IsConnected)" tabindex="3">Join</button>
  </div>
  <div style="height: 60px;"></div>
  <a href="https://github.com/magicsgram/wordleoff">https://github.com/magicsgram/wordleoff</a>
</div>

@code {
  private HubConnection? hubConnection;

  private String sessionIdPart1 = "";
  private String sessionIdPart2 = "";
  private String sessionIdPart3 = "";

  protected override async Task OnInitializedAsync()
  {
    hubConnection = new HubConnectionBuilder()
      .WithUrl(NavigationManager.ToAbsoluteUri("/WordleOffHub"))
      .Build();
    hubConnection.Closed += async (e) => await OnClosed(e);
    hubConnection.On<String>("NewSessionCreated", (newSessionId) => NavigationManager.NavigateTo($"game/{newSessionId}"));

    await hubConnection.StartAsync();
  }

  public Boolean IsConnected => hubConnection?.State == HubConnectionState.Connected;
  private async Task OnClosed(Exception? e)
  {
    if (hubConnection is not null)
      await hubConnection.StartAsync();
  }

  private async Task CreateNewGame()
  {
    if (hubConnection is not null)
      await hubConnection.SendAsync("ClientCreateNewSession");
  }

  private void JoinSession() => NavigationManager.NavigateTo($"game/{sessionIdPart1}-{sessionIdPart2}-{sessionIdPart3}");

  public async ValueTask DisposeAsync()
  {
    if (hubConnection is not null)
    {
      await hubConnection.DisposeAsync();
    }
  }
}
